<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shenmi.calculator">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 手机状态的监听权限 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 设置手机震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <!-- 定位相关权限，建议添加，便于广告的定向  location group -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP"
        tools:ignore="ProtectedPermissions" />
    <!-- 往SDCard读写数据权限   storage group -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_logo_calculator"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppMainTheme"
        tools:replace="android:icon">

        <activity android:name=".ui.UnitConvertActivity" />
        <activity android:name=".ui.UpperNumActivity" />
        <activity android:name=".ui.LoanActivity"/>
        <activity android:name=".ui.CalculatorActivity"/>

        <activity android:name=".ui.home.MainCalculateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <!-- 友盟统计SDK配置 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5acb12d6b27b0a63c500010c" />

        <!-- 设置动态渠道变量 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" /> <!-- 渠道号，多渠道这里使用了占位符$ -->

        <meta-data
            android:name="IFLYTEK_APPKEY"
            android:value="5bd15cce" />

        <!--sdk部分-->

        <activity
            android:name="com.snmi.sdk.SMADPage"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" >
        </activity>
        <activity
            android:name="com.snmi.sdk.PopADActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <receiver
            android:name="com.snmi.sdk.download.DataDownLoadReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.snmi.sdk.download.DataInstallReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <!-- 监听安装和卸载必须需要的一行代码 -->
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <provider
            android:name=".ui.home.MyFileProvider"
            android:authorities="com.snmi.sdk.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <!--元数据-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <receiver android:name=".ui.home.MainCalculateActivity$HomeWatcherReceiver"/>
    </application>

</manifest>